
#headline {
	color: #424242;
	font-family: Roboto, sans-serif;
	background-color: #e9e9e9;
	background-size: cover;
	width:101.7%;
	height:100%;
	background-position: center;
	
	span {
	position: relative;
	left: 50%;	
	right: 50%;
	font-size: 5em;
	}
	
	h1 {
	margin-left: 25%;
	margin-right: 85%;
	font-size: 8em;
	padding-bottom: 10px;
	}
	
	h2 {
	width: 40%;
	margin-left: 45%;
	margin-right: 65%;
	font-size: 4em;	
	padding-bottom: 10px;
	}
	
	p {
	margin-left: 15%;
	margin-right: 5%;
	font-size: 2em;	
	margin-top: 15%;
	}
	
}

#organization {
	background-image: url('http://www.psdgraphics.com/file/colorful-triangles-background.jpg');
	background-size: cover;

	h1 {
	color: #dc4d38;
	margin-left:30%;
	font-size: 6em;
	margin-bottom: 7%;
	}
	
	#img_1 {
	display:block;
	margin-left: 40%;
	margin-right: 15%;
	margin-bottom: 5%;
	}

	#img_2, #img_3{
	@extend #img_1;
	}
}

#investors {
	

}

#address {
	display: none;
}

#locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }
#hour{
	 background-color: #FF8000;
}

#minute {
	@extend #hour;
}

#div1{
	margin: 10px 10px 10px 10px;
	padding: 25px 25px 25px 25px;
}

#teamTable {
	color:#A901DB;
	font-size: 24px;
}

.reg_heading {
	margin: 10px 10px 10px 10px;
	padding: 25px 25px 25px 25px;
	font-size: 24px;
	border-radius: 280px;
	border: 6px dotted;
}

.icon-menu {
  color: #24EAFF;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
}

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}

.blank-space {
	padding: 110px 50px;
} 
.blank-space-1 {
	padding: 40px 40px;
} 

.text-space {
	padding: 80px 50px;
	background-color: rgba(0,0,0,0.5);
}

.text-space-red {
	padding: 80px 50px;
	background-color: rgba(9,112,84,0.4);
}
.row_color_yellow{
	margin-top: 20px;
	margin-bottom: 20px; 
	padding: 20px;
	background-color: rgba(222,187,39,0.9);
	border-radius: 170px;
}

.contact-card {
	 background-color: rgba(0,0,0,0.6);
	 height: 400px;
	 padding-left: 20px; 
	 padding-right: 20px;
}

.white-bg {
	 background-color: rgba(0,0,10,0.2);
	 border: 1px dotted ;
	 border-radius: 5px;
	 
}

.fakejumbo {margin-bottom: 5px;
  color: inherit;
   
  h1 { color: #48ca3b;
  text-align: Left;}
}

.fakejumbo1 {margin-bottom: 5px;
  color: inherit;
  
  h1 { color: #DF013A;
  text-align: Left;}
}

.center-it {
text-align: center;
}

.right-side {
text-align: right;

}


@for $i from 1 to 4 {
	.social-media-#{$i} {background-color: rgba(8,188,188, (4-$i) /5);
						padding: 90px;
					
						} 
} 
















