<!DOCTYPE html>
{% load staticfiles %}
{% load static %}

<html>
    <head>
		 <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap -->
		
		<link href = "{% static 'css/bootstrap.css' %}" rel = "stylesheet" >
		<link href = "{% static 'css/output.css' %}" rel = "stylesheet" >
		<link href = "{% static 'css/animate.css' %}" rel = "stylesheet" >
		<div class="headArea">
		<div class="center-it">
		
	   <span class="wow shake icon-menu glyphicon glyphicon-remove" id="glychange1"  data-toggle="tooltip" data-placement="top" title="Close Menu"></span>
	   <span class="wow shake icon-menu glyphicon glyphicon-plus" id="glychange0" data-toggle="tooltip" data-placement="left" title="Open Menu"></span>
      </div>
			<div class="navbar navbar-default navbar" role="navigation">
				<div class="container">
				<div class="nav navbar-nav navbar-left">
					<li><a class="navbar-brand" href="/LogIn/about/">About Us</a></li>
					<li><a class="navbar-brand" href="/LogIn/">Home</a></li>
					<li><a class="navbar-brand" href="/LogIn/contact">Contact Us</a></li>
					<form class="navbar-form navbar-left">
						<input type="text" class="form-control col-lg-8" placeholder="Search">
					</form>
				</div>
				{% if user.is_authenticated %}
				{% else %}	
				<div class="nav navbar-nav navbar-right">
				<li><a class="navbar-brand"  href="/LogIn/register/"><font color="#F7FE2E">Join the revolution</font></a></li>
				</div>
				{% endif %}
				
				<ul>
				{% if user.is_authenticated %}
				<div class="nav navbar-nav navbar-right">
					<li><a class="pull-right navbar-brand" href="/LogIn/profile/">Social Profile</a></li>
					<li><a class="pull-right navbar-brand" href="/LogIn/buddies/">Create Events</a></li>
					<li><a class="pull-right navbar-brand" href="/LogIn/public/">Public</a></li>
					<li><a class="pull-right navbar-brand" href="/LogIn/logout/">Logout</a></li>
				</div>
				{% else %}	
				
				{% endif %}
				</ul>
				</div>
		</div>
		</div>
        {% block head_block %}{% endblock %}
    </head>

    <body>
	
        {% block body_block %}
		<!-- Ribbit errors display -->
		<div id="content">
			<div class="wrapper">
				{% block flash %}
				{% if auth_form.non_field_errors or user_form.non_field_errors or ribbit_form.errors %}
				<div class="flash error">
					{{ auth_form.non_field_errors }}
					{{ user_form.non_field_errors }}
					{{ ribbit_form.content.errors }}
				</div>
				{% endif %}
				{% if notice %}
				<div class="flash notice">
					{{ notice }}
				</div>
				{% endif %}
				{% endblock %}
	 
				{% block content %}
	 
				{% endblock %}
			</div>
		</div>
		{% endblock %}
		
		
		<!-- JavaScript -->
		<script src="{% static 'js/wow.js' %}"></script>
		<script>
		var wow = new WOW(
			  {
				boxClass:     'wow',      // animated element css class (default is wow)
				animateClass: 'animated', // animation css class (default is animated)
				offset:       0,          // distance to the element when triggering the animation (default is 0)
				mobile:       true,       // trigger animations on mobile devices (default is true)
				live:         false        // act on asynchronously loaded content (default is true)
			  }
			);
			wow.init();
		</script>
		<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
		<script src="{% static 'js/bootstrap.js' %}"></script>
		<script src="{% static 'js/jquery-personal.js' %}"></script>		
		
    </body>
</html>