{% extends "LogIn/base.html" %}

{% block head_block %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
{% endblock %}

{% block body_block %}
	<div class="panel right">
        <h1>Create a Ribbit</h1>
        <p>
            <form action="/LogIn/submit" method="post">{% csrf_token %}
            <!--{% for field in ribbit_form %}
            {{ field }}
            {% endfor %}-->
			<h4>Details: </h4><span id="event_box_main">{{ ribbit_form.content }}</span> </br>
			<span >{{ ribbit_form.content.errors }}</span>
			<input type="text" id="event_box" size="95" readonly> </br>
			<input type="text" id="description_box" placeholder="Event description" maxlength="50" size="35"> </br>
			
			<!-- google map api stuff -->
			<body onload="initialize()">
				<div id="locationField">
				  <input id="autocomplete" placeholder="Enter your address"
						 onFocus="geolocate()" type="text"></input>
				</div>
				<!-- Hidden table -->
				<table id="address">
				  <tr>
					<td class="label">Street address</td>
					<td class="slimField"><input class="field" id="street_number"
						  disabled="true"></input></td>
					<td class="wideField" colspan="2"><input class="field" id="route"
						  disabled="true"></input></td>
				  </tr>
				  <tr>
					<td class="label">City</td>
					<td class="wideField" colspan="3"><input class="field" id="locality"
						  disabled="true"></input></td>
				  </tr>
				  <tr>
					<td class="label">State</td>
					<td class="slimField"><input class="field"
						  id="administrative_area_level_1" disabled="true"></input></td>
					<td class="label">Zip code</td>
					<td class="wideField"><input class="field" id="postal_code"
						  disabled="true"></input></td>
				  </tr>
				  <tr>
					<td class="label">Country</td>
					<td class="wideField" colspan="3"><input class="field"
						  id="country" disabled="true"></input></td>
				  </tr>
				</table>
			</body>
			Hours: </br>
			<select id="hour" size="5">
				<option>00</option>
				<option>01</option>
				<option>02</option>
				<option>03</option>
				<option>04</option>
				<option>05</option>
				<option>06</option>
				<option>07</option>
				<option>08</option>
				<option>09</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
				<option>13</option>
				<option>14</option>
				<option>15</option>
				<option>16</option>
				<option>17</option>
				<option>18</option>
				<option>19</option>
				<option>20</option>
				<option>21</option>
				<option>22</option>
				<option>23</option>
				<option>24</option>
			</select> </br>
			Minutes: </br>
			<select id="minute" size="5">
				<option>00</option>
				<option>01</option>
				<option>02</option>
				<option>03</option>
				<option>04</option>
				<option>05</option>
				<option>06</option>
				<option>07</option>
				<option>08</option>
				<option>09</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
				<option>13</option>
				<option>14</option>
				<option>15</option>
				<option>16</option>
				<option>17</option>
				<option>18</option>
				<option>19</option>
				<option>20</option>
				<option>21</option>
				<option>22</option>
				<option>23</option>
				<option>24</option>
				<option>25</option>
				<option>26</option>
				<option>27</option>
				<option>28</option>
				<option>29</option>
				<option>30</option>
				<option>31</option>
				<option>32</option>
				<option>33</option>
				<option>34</option>
				<option>35</option>
				<option>36</option>
				<option>37</option>
				<option>38</option>
				<option>39</option>
				<option>40</option>
				<option>41</option>
				<option>42</option>
				<option>43</option>
				<option>44</option>
				<option>45</option>
				<option>46</option>
				<option>47</option>
				<option>48</option>
				<option>49</option>
				<option>50</option>
				<option>51</option>
				<option>52</option>
				<option>53</option>
				<option>54</option>
				<option>55</option>
				<option>56</option>
				<option>57</option>
				<option>58</option>
				<option>59</option>
				<option>60</option>				
			</select>
			<button type="button" onclick="sync()">Test button!</button></br>			
			<!--<h4>Date: </h4>{{ ribbit_form.date }} </br>
			<h4>Time: </h4>{{ ribbit_form.time }} </br>
			<h4>Location: </h4>{{ ribbit_form.location }} </br>
			{{ ribbit_form.date.errors }}
			{{ ribbit_form.time.errors }}
			{{ ribbit_form.location.errors }}-->
            <input type="hidden" value="/LogIn/submit" >
            <input type="submit" value="Ribbit!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Buddies' Ribbits</h1>
        {% for ribbit in ribbits %}
        <div class="ribbitWrapper">
            <a href="/LogIn/users/{{ ribbit.user.username }}">
                <img class="avatar" src="{{ ribbit.user.profile.gravatar_url }}">
                <span class="name">{{ ribbit.user.first_name }}</span>
            </a>
            @{{ ribbit.user.username }}
            <p>
                {{ ribbit.content }}
            </p>
        </div>
        {% endfor %}
    </div>

{% endblock %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places">
