{% extends "LogIn/base.html" %}
{% load static %}
{% block head_block %}	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
{% endblock %}

{% block body_block %}	
	

	{% if user.is_authenticated %}	
	<div class="">
	<h1>Welcome {{ user.username }}!</h1>
	</div>
	
	{% else %}
	
		  {% if user.is_authenticated %}
		  {% else %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static 'image1.jpg' %}" alt="Slide1" class="fill" id="image1">
      <div class="carousel-caption" id="caption1">
        <div class="jumbotron">
							<h1>Welcome to</h1>
							<h1>GoSocial</h1>				
							</div>
							<a href="/LogIn/register/" class="pull-left btn btn-danger btn-lg">Join Us</a>
      </div>
    </div>
    <div class="item">
      <img src="{% static 'image2.jpg' %}" alt="Slide2" class="fill" id="image2" >
      <div class="carousel-caption" id="caption2">
       <div class="fakejumbo">
							</br>
							<h1>Why</h1>	
							<h1>GoSocial?</h1>
							</br>
							</div>
							<a href="/LogIn/about/" class="pull-left btn btn-success">Get to know us!</a>
      </div>
    </div>
	<div class="item">
      <img src="{% static 'image3.jpg' %}" alt="Slide3" class="fill" id="image3">
      <div class="carousel-caption" id="caption3">
       <div class="fakejumbo1">
							</br>
							<h1>Meet the</h1>	
							<h1>social animals</h1>
							</br>
							</div>
							<a href="/LogIn/contact/" class="pull-left btn btn-primary">Get in touch!</a>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
	{% endif %}
	<div class="container-fluid">
	<div class="row" >
	  	  <div class="col-md-4">
		  </div>
		  <section class="wow bounceInRight" data-wow-duration="2s" data-wow-offset="90" >
		  <div class="col-md-4">
		  	<div class="row_color_yellow">
			<div class="well">
			<h2><b><font color="#DF8B1D">Login to GoSocial</font></b></h2>
			</br>

				<form id="login_form" method="post" action="" >
				{% csrf_token %}
					Username: <input type="text" name="username" value="" size="50" />
					</br>
					</br>
					Password: <input type="password" name="password" value="" size="50" />
					</br>
					</br>

					<input class="btn btn-warning" type="submit" value="Submit" />
				</form>
				</div>
				</div>
	
		  </div>
		  </section>
		  <div class="col-md-4">
		  </div>
		 </div>
	
	</div>
	
	
	<!--<div class="container-fluid">
			<div class="blank-space">
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				</div>
			</div>
			</div>
		</div>-->
		
	<div class="container-fluid">
			<section class="wow fadeInLeftBig" data-wow-duration="2s" data-wow-offset="90">
			<div class="text-space">
			<div class="row">
				<div class="col-md-12">
				<h1> Connect with us !!&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-bullhorn"></span></h1>			
				<p>Social Revolution starts with social media. What are you waiting for?</p>
				</div>
			</div>
			</div>
			</section>
		</div>
		
	<div class="container-fluid">
	<section class="wow fadeInRightBig" data-wow-duration="2s" data-wow-offset="200" >
	<div class="row">
		<a href="http://www.facebook.com" target="_blank">
	  	  <div class="col-md-4">
		  <div class="social-media-1">
		  <span></span>
		  <h3 class="center-it"><font color="#54F2FD">Connect with us on </font><h2 class="center-it">FACEBOOK</h2></h3> 
		  </div>
		  </div>
		  </a>
		<a href="http://www.twitter.com" target="_blank">
		<div class="col-md-4">
		<div class="social-media-2">
		  <h3 class="center-it"><font color="#54F2FD">Send us a tweet on </font><h2 class="center-it">TWITTER</h2></h3>
		  </div>
		  </div>
		 </a>
		 <a href="http://www.instagram.com" target="_blank">
		  <div class="col-md-4">
		  <div class="social-media-3">
		  <h3 class="center-it"><font color="#54F2FD">Follow us on </font><h2 class="center-it">INSTAGRAM</h2></h3>
		  </div>
		  </div>
		</a>
		  </div>
		  </section>
		  </div>
		  
		<div class="container-fluid">
		<div class="row">
		<div class="wow fadeIn col-md-8" id="google-maps">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1789.3507333120797!2d-123.26586967472181!3d49.26301570618383!2m3!1f90!2f41.26877049545379!3f0!3m2!1i1024!2i768!4f20!3m3!1m2!1s0x548672cc2fd41e03%3A0xc79dd4e7732aa2f3!2sThe+University+of+British+Columbia!5e1!3m2!1sen!2sca!4v1410741782129" width="100%" height="400" frameborder="0" style="border:0"></iframe>
		</div>
		
		<div class="wow fadeIn contact-card col-md-4">
		<h2><font color="#DF013A">You're welcome to my crib</font></h2>
		</br>
		<font color="#FACC2E">
		<h4>The University of British Columbia</h4> </font>
		<font color="#FFBF00">
		<p> 2329 W Mall, Vancouver, </br> BC V6T 1Z4 </br> P: 111-222-4444 </br> E: gosocial2014@django.com </p>  </font>
		</br>
		<p>The information contained in this website is for general information purposes only.
		The information is provided by [business name] and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on
		the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
		</div>
		</div>
		</div>
	{% endif %}	
{% endblock %}














