{% extends "LogIn/base.html" %}

{% block head_block %}<h1>Welcome to your social profile</h1>{% endblock %}

{% block body_block %}
	<div>
		<h1>Personal Information</h1>
		<h2>{{ user.username }}</h2>
		<p>Email: {{ user.email }}</p>
		
		<!-- Check if a user profile exists -->
		{% if userprofile %}
			<p>About me: {{ userprofile.about_me }}</p>
			<p>Website: <a href="{{ userprofile.website }}">{{ userprofile.website }}</a></p>
			<a href="http://www.{{ userprofile.group }}.ca" target="_blank">{{ userprofile.group }}</a>
			
			<!-- Check if a profile picture was uploaded -->
			{% if userprofile.picture %}
			   <img src="{{ userprofile.picture.url }}"  />
			{% endif %}
		{% endif %}
	</div>		
	{% endblock %}