{% extends "LogIn/base.html" %}

{% block head_block %}<h1>Welcome to your public profiles</h1>{% endblock %}

{% block body_block %}

<div class="panel right">
        <h1>Create a Ribbit</h1>
        <p>
            <form action="/LogIn/submit" method="post">
            {% for field in ribbit_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Ribbit!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Public Ribbits</h1>
        {% for ribbit in ribbits %}
        <div class="ribbitWrapper">
            <img class="avatar" src="{{ ribbit.user.profile.gravatar_url }}">
            <span class="name">{{ ribbit.user.first_name }}</span><a href="/LogIn/users/{{ ribbit.user.username }}">@{{ ribbit.user.username }}</a>
            <span class="time">{{ ribbit.creation_date|timesince }}</span>
            <p>{{ ribbit.content }}</p>
        </div>
        {% endfor %}
</div>


{% endblock %}