{% extends "LogIn/base.html" %}

{% block head_block %}{% endblock %}

{% block body_block %}
	{% if registered %}
	<strong>Thank you! You have successfully become a part of GoSocial revolution</strong>
	{% else %}
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
				</div>		
				<div class="col-md-6">
				<div class="reg_heading well">
				<h1 class="center-it"><font face="impact" size="32px" color="#FACC2E">GoSocial</font></h1>
				</br>
				<p class="center-it"><strong><font face="garamond" size="18px" color="#64FE2E">Social Revolution</font></strong></p>
				<p class="center-it"><strong><font face="garamond" size="18px" color="#64FE2E">Join the revolution</font><strong></p>
				</div>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div>
	<div class="container-fluid">
			<div class="blank-space-1">
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				</div>
			</div>
			</div>
		</div>
		<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">		
	<form id="user_form" method="post" action="/LogIn/register/"
                enctype="multipart/form-data">
				
			{% csrf_token %}
			{{ user_form.non_field_errors }}
			<div class="center-it firstName">
				{{ user_form.first_name.errors }}
				<h1 for="firstName">First Name: </h1>
				</br>
				{{ user_form.first_name }}
			</div>
			<div class="center-it lastName">
				{{ user_form.last_name.errors }}
				<h1 for="lastName">Last Name: </h1>
				</br>
				{{ user_form.last_name }}
			</div>
			<div class="center-it userName">
				{{ user_form.username.errors }}
				<h1 for="userName">Username: </h1>
				</br>
				{{ user_form.username }}
			</div>
			<div class="center-it email">
				{{ user_form.email.errors }}
				<h1 for="email">E-mail: </h1>
				</br>
				{{ user_form.email }}
			</div>
			<div class="center-it password">
				{{ user_form.password.errors }}
				<h1 for="password">Password: </h1>
				</br>
				{{ user_form.password }}
			</div>
			<div class="center-it group">
				{{ profile_form.group.errors }}
				<h1 for="group">Pick a group: </h1>
				</br>
				{{profile_form.group }}
			</div>
			<div class="center-it website">
				{{ profile_form.website.errors }}
				<h1 for="website">Your Website: </h1>
				</br>
				{{ profile_form.website }}
			</div>
			<div class="center-it aboutMe">
				{{ user_form.about_me.errors }}
				<h1 for="aboutMe">About me: </h1>
				</br>
				{{ user_form.about_me }}
			</div>
			<div class="center-it profilePicture">
				{{ profile_form.picture.errors }}
				<h1 for="profilePicture">Upload a profile picture: </h1>
				</br>
				{{profile_form.picture }}
			</div>
			<!--{{ user_form.as_p }} 
			https://docs.djangoproject.com/en/dev/topics/forms/
            {{ profile_form.as_p }}-->
			<input class="submit-button btn btn-success " type="submit" name="submit" value="Register" />
	</br>
	</br>
	</br>
	</form>
	</div>
	<div class="col-md-4">
				</div>
	</div>
	</br>
	</br>
		<ul class="pager">
		  <li class="previous"><a class=""><font size="4px">&larr; Previous</font></a></li>
		  <li class="next"><a class=""><font size="4px">Next &rarr;</font></a></li>
		</ul>
	{% endif %}
	

{% endblock %}

